{% extends 'main.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min1.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css' %}">
</head>
<body>
	<div class="row p-5">
		<div class="col-3"></div>
		<div class="col-6 bg-dark text-light p-5 p-3 mb-5 rounded" style="box-shadow: 0px 0px 10px #333">
			<h1 class="text-light"><b>Change Password</b></h1>
			<br><br>
			<form action="" method="POST">
				{% csrf_token %}
			<input type="Password" name="opw" class="form-control   bg-transparent" style="border:none; border-bottom: 1px solid white;" placeholder=" Old Password"><br>
			<input type="Password" name="npw" class="form-control  bg-transparent" style="border:none; border-bottom: 1px solid white;" placeholder=" New Password"><br>
			<input type="Password" name="cpw" class="form-control  bg-transparent" style="border:none; border-bottom: 1px solid white;" placeholder="Confirm Password"><br><br>
			<input type="submit" value="Reset Password" class="text-light rounded-pill btn ps-5 btn-lg pe-5" style="background-color: purple;">
			<h3 class="text-danger">{{res}}</h3>
			<h3 class="text-success">{{rest}}</h3>
			</form>
		</div>
		<div class="col-3"></div>
	</div>

{% endblock %}
</body>
</html>