{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    a{text-decoration: none !important;}
</style>

<div class="row p-3 bg-light">
    <div class="col-4"></div>
    <div class="col-4 p-5">
        <h1 class="text-center"><b>Security Tools</b></h1>
        <br>
        <p class="text-center"> Home > Security Tools</p>
    </div>
     <div class="col-4"></div>
</div>

<div class="container">
    <div class="row p-5">
        <div class="col-12 text-light">
            <h4>Free Bot Removal Tool - For Microsoft Windows</h4>
            <p><b>You may use any of the following Bot Removal Tool for your digital device.</b></p>
            <p><i>Note: To identify, the architecture of your computer system whether it is 32-bit or 64-bit, right click on "My computer"/ "This PC" -> Properties-> Check your system architecture</i></p>
            <ul>
                <li>Quick Heal &nbsp;&nbsp; <img src={% static "images/qh.jpg" %}></li>
                <p>The antivirus company<span style="color: orange;"> Quick Heal </span>is providing the free bot removal Tool. Click the below mentioned link to download the tool.</p>
                <a href ="https://www.quickheal.co.in/bot-removal-tool" target="_blank">https://www.quickheal.co.in/bot-removal-tool </a>&nbsp;&nbsp; <a href ="https://www.quickheal.co.in/bot-removal-tool" target="_blank"><img src={% static "images/download.jpg" %}> </a> <br> <br>

                <li>eScan Antivirus &nbsp;&nbsp; <img src={% static "images/es.png" %}></li>
                <p>The antivirus company<span style="color: green;"> eScan Antivirus  </span>is providing the free bot removal Tool. Click the below mentioned link to download the tool.</p>
                <a href ="https://www.escanav.com/en/escanav-cert/escanav-cert-intoolkit.asp" target="_blank">https://www.escanav.com/en/escanav-cert/escanav-cert-intoolkit.asp  </a>&nbsp;&nbsp; <a href ="https://www.escanav.com/en/escanav-cert/escanav-cert-intoolkit.asp" target="_blank"><img src={% static "images/download.jpg" %}> </a> <br><br><br>

                <li>K7 Security  &nbsp;&nbsp; <img src={% static "images/k7-logo.png" %}></li>
                <p>The antivirus company<span style="color: green;"> K7 Computing Pvt. Ltd. </span>is providing the free bot removal Tool. Click the below mentioned link to download the tool.</p>
                <a href ="https://www.k7computing.com/in/k7-bot-removal-tool" target="_blank">https://www.k7computing.com/in/k7-bot-removal-tool </a>&nbsp;&nbsp; <a href ="https://www.k7computing.com/in/k7-bot-removal-tool" target="_blank"><img src={% static "images/download.jpg" %}> </a> <br><br><br><br>
            </ul>

            <h4>Free Bot Removal Tool - For Android</h4>
            <ul>
                <li>eScan Antivirus &nbsp;&nbsp; <img src={% static "images/es.png" %}></li> <br>
                <p>The antivirus company<span style="color: green;"> eScan Antivirus  </span>is providing the Smartphone Safety Toolkit. Click the below mentioned link to download the tool.</p>
                <a href ="https://www.escanav.com/en/escanav-cert/escanav-cert-intoolkit.asp" target="_blank"> https://www.escanav.com/en/escanav-cert/escanav-cert-intoolkit.asp  </a>&nbsp;&nbsp; <a href ="https://www.escanav.com/en/escanav-cert/escanav-cert-intoolkit.asp " target="_blank"><img src={% static "images/google-playstore.png" %}> </a> <br><br><br>
            </ul>
            <br> <br> <hr> <br>

            <h4>Other Relevant tools:</h4> <br>
            <ol>
                <li><b><u>USB Pratirodh </b></u></li> <br>
                <p>This tool is a desktop security solution, which controls the usage of removable storage media like pen drives, external hard drives, cell phones, and other supported USB mass storage devices.</p>
                <h6><b>Download Link:</b></h6>
                <a href="https://cdac.in/index.aspx?id=cs_eps_usb_pra" target="_blank"> USB Pratirodh - (End point USB mass storage device control solution) </a> <br> <br>

                <li><b><u> AppSamvid </b></u></li> <br>
                <p>This tool AppSamvid is a desktop based Application Whitelisting solution for Windows operating system. It allows only preapproved set of executable files for execution.</p>
                <h6><b>Download Link:</b></h6>
                <a href="https://cdac.in/index.aspx?id=cs_eps_appsamvid" target="_blank"> AppSamvid - an application whitelisting software </a> <br> <br>

                <li><b><u>Browser JSGuard</u></b></li>
                <p>This tool is a browser extension which detects and defends malicious HTML & JavaScript attacks made through the web browser based on Heuristics. It alerts the user on visiting any malicious web pages and provides the detailed analysis threat report of the web page.</p>
                <h6><b>Download Link:</b></h6> <br>
                <ul type="disc">
                    <li>For Firefox Web Browser:</li> 
                    <a href="https://addons.mozilla.org/en-US/firefox/addon/browser-jsguard/"> https://addons.mozilla.org/en-US/firefox/addon/browser-jsguard/ </a> <br> <br>

                    <li>For Google Chrome Web Browser:</li>
                    <a href="https://chrome.google.com/webstore/detail/browserjsguard/ncpkigeklafkopcelcegambndlhkcbhb">https://chrome.google.com/webstore/detail/browserjsguard/ncpkigeklafkopcelcegambndlhkcbhb </a> <br>
                </ul>
            </ol>
        </div>
    </div>
</div>




{% endblock %}